body {
    background-image: url(../img/memphis-colorful.png);
}

.logo {
    font-family: 'Inconsolata', regular;
}

.logo a {
    color: rgba(0, 0, 0, .9);
}

.logo a:hover,
.logo a:active {
    text-decoration: none;
}
